/*Apartado para calificar con estrellas*/
.estrellas {
    font-size: 0;
    display: inline-block;
}

.estrellas a {
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    font-size: 2rem;
    color: #888;
}

.estrellas .checked {
    color: rgb(39, 130, 228);
}

.estrellas:hover a {
    color: rgb(39, 130, 228);
}

.estrellas>a:hover~a {
    color: #888;
}

.modal-body {
    text-align: center;
}