.margen {
  font-family: Arial;
  font-size: 20px;
  width: 90%;
  margin: 50px auto;
  border: 2px solid black;
  padding: 20px;
  display: grid;
  grid-template-areas:
    "portada titulo titulo"
    "portada descripcion descripcion"
    "duracion actores boton";
  grid-gap: 15px;
}

.inserta-portada {
  background: white;
  height: 300px;
  border: 1px solid black;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-area: portada;
}

.inserta-portada span {
  font-size: 20px;
  font-family: Arial;
  border-radius: 5%;
  border: 1px solid black;
  padding: 10px;
  background: rgba(120, 120, 120, 0.7);
  cursor: pointer;
}

.inserta-portada span:hover {
  background: rgba(120, 120, 120, 1);
}



.titulo {
  grid-area: titulo;
}

.contenedor-descripcion {
  grid-area: descripcion;
}

.duracion {
  grid-area: duracion;
}

.actores {
  grid-area: actores;
}

.categoria {
  margin-top: 10px;
}

.boton-agregar {
  grid-area: boton;
}

.boton {
  margin-bottom: 10px;

}

.caja {
  font-size: 20px;
  border-radius: 6%;
  width: 50%;
}

.descripcion {
  width: 80%;
  height: 190px;
}

#titulo-descripcion {
  width: 300px;
  margin: 0px;
}

/*Mensajes de error*/
.grupo-error {
  text-align: left;
  margin: 1px 25px;
}

#mensaje-error-añadirPelicula {
  color: red;
  display: inline-block;
  font-size: 0.7rem;

}

.icono-error {
  filter: invert(27%) sepia(51%) saturate(2878%) contrast(97%);
  float: left;

}

#error-añadir {
  display: none;
}